/******** ROOT STYLE ********/
:root {
    --teal: #009688;
    --green: #D5F9BA;
    --lightGrey: #FAFAFA;
    --lightBlue: #8DDAFC;
    --grey: #EAEBEB;
    --darkGreyTxt: #B1B1B1;
}

/******** RESET STYLE ********/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--darkGreyTxt);
}

img {
    max-width: 100%;
}

/******** GENERAL STYLE ********/
body {
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(220,219,209);
    background: linear-gradient(0deg, rgba(220,219,209,1) 80%, rgba(0,150,136,1) 80%);
}

button {
    background-color: transparent;
}

/******** MAIN STYLE ********/
main {
    max-width: 93.75rem;
    min-width: 38rem;
    width: 80%;
    margin: 0 auto;
}

.container {
    height: 85vh;
}

/* All Chat Section Style */
#allChatSec {
    width: 35%;
    min-width: 14.375rem;
}

#userProfileSec button,
#topBannerActiveChat button,
#sendMessSec button,
input {
    border: none;
}

#ctaNotifSec > div:last-child {
    font-size: small;
}

#searchBarSec input {
    height: 30px;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    padding-left: 40px;
}

#singleChatSec {
    overflow-y: scroll;
}

#singleChatSec .chatTime {
    align-self: flex-start;
}

#singleChatSec > div:last-child {
    border-bottom: none;
}

/* Active Chat Section Style */
#activeChatSec {
    border-left: 1px solid var(--darkGreyTxt);
    /* background-image: url(../img/mine.jpg); */
    background-image: url(https://images.unsplash.com/photo-1547071286-4c6552bbe26b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
}

.activeChat {
    background-color: var(--grey);
}

#chatMessagesSec {
    height: 80%;
    overflow-y: scroll;
}

/* #chatMessagesSec span {
    word-break: break-all;
} */

.msgSent > div,
.msgReceived > div {
    max-width: 80%;
    min-width: 10%;
    font-size: 14.5px;
    padding: .7rem .9rem;
}

.msgSent small,
.msgReceived small {
    font-size: 11px;
    margin: .3rem -.5rem -.5rem 0;
}

.msgSent button,
.msgReceived button {
    font-size: 11px;
    top: 0;
    right: 0;
    padding: 4px 6px;
    border-radius: 10px;
    border-color: transparent;
}

.msgSent {
    justify-content: flex-end;
}

.msgSent > div {
    background-color: var(--green);
}

.msgReceived > div {
    background-color: white;
}

#msgDropdown,
#chatDropdown {
    font-size: smaller;
    top: 40%;
    right: 0;
    padding: .5em .8em;
    z-index: 3;
    min-width: 6.5rem;
}

#chatDropdown {
    top: 50%;
    min-width: 10rem;
    z-index: 4;
}

.bubble {
    border-top: 10px solid #D5F9BA;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 0;
    right: -10px;
}

.bubble.bubbleReceived {
    border-top-color: white;
    left: -10px;
}

#sendMessSec {
    background-color: rgba(255, 255, 255, 0.612);
}

#sendMessSec input {
    height: 38px;
    width: 95%;
    padding-left: 15px;
    font-size: .9rem;
}

.inputError {
    animation: shake .2s;
    animation-iteration-count: 2;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}