/******** ROOT STYLE ********/
:root {
    --teal: #009688;
    --lightGrey: #EAEAEA;
    --lightBlue: #8DDAFC;
    --grey: #EAEBEB;
    --darkGreyTxt: #B1B1B1;
}

/******** RESET STYLE ********/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/******** GENERAL STYLE ********/
body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(220,219,209);
    background: linear-gradient(0deg, rgba(220,219,209,1) 80%, rgba(0,150,136,1) 80%);
}

/******** MAIN STYLE ********/
main {
    max-width: 93.75rem;
    min-width: 38rem;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    height: 80vh;
    width: 100%;
}

/* All Chat Section Style */
#allChatSec {
    width: 30%;
    min-width: 14.375rem;
}

#allChatSec > div:nth-child(2) {
    height: 12%;
}

#allChatSec > div:nth-child(3) {
    height: 6%;
}

#allChatSec > div:last-child {
    overflow-y: scroll;
    height: 52%;
}

/* Active Chat Section Style */
#activeChatSec {
    background-image: url(../img/mine.jpg);
}

#activeChatSec > div:first-child,
#activeChatSec > div:last-child,
#allChatSec > div:first-child {
    height: 10%;
}

#activeChatSec > div:nth-child(2) {
    height: 80%;
    overflow-y: scroll;
}